body {
	font-family: Arial, sans-serif;
	margin: 20px;
	background-color: #313131;
	background-image: url(../img/recuerdo\ DP.png);
	background-size: contain;
	background-attachment: scroll;
	background-position: center center;
}
nav, header, section {
	background: #451d1d;
	padding: 20px;
	margin: 20px 15px;
	border: 10px aquamarine;
	border-style: dashed double none dotted;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2{
	color: blue;
}